body {
    background-color: #000000;
}

a h6{
    text-decoration: underline;
    color: #ffffff;
}
.bg-modal{
background-color: rgba(0, 0, 0, 0.9) !important;

}
.bg-darkness {
    background-color: rgba(0, 0, 0, 0.95);
    color: #a7a7a7;
}
.bg-darking {
    background-color: rgba(0, 0, 0, 0.92);
    color: #a7a7a7;
}

.cover-container {
    max-width: 42em;
}
.project{
    transition: 0.5s;
    box-shadow: 0px 0px 2px 1px rgb(50, 50, 50);

}

.project:hover{
    background-color: rgb(8, 8, 8);
    box-shadow: 0px 0px 10px 5px rgb(50, 50, 50);
    transition: 0.5s;
}
.higor{
    box-shadow: 0px 0px 10px 5px #000;
    transition: 0.5s;

}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    letter-spacing: -.05rem;
}
@media (max-width: 767px) {
    .higor{
        width: 20rem !important;
    }
}