body{
   background-image: url('../assets/bg-body.jpeg');

}
.bg-darkness{
    background-color: rgba(0,0,0,0.9);
    color: #fff ;
   height: 100vh;
}
.cover-container {
    max-width: 42em;
}
@media (min-width: 768px) {
    .cover-container {
        background-color: rgba(0,0,0,0.9);
        max-height: 32em;
    }
    .bg-darkness{
        background-color: rgba(0,0,0,0.5);
        color: #fff ;
       height: 100vh;
    }
}






