body {
    background: url("../assets/background.jpg");
    background-position: center;
    background-size: inherit;
    background-repeat: no-repeat;
    height: 100vh;
}
.nav-tabs .nav-link.active {
    border: none !important;
    box-shadow: 0px 0px 10px 0px rgb(237, 0, 245) !important;
    background-color: #000 !important;
    color: rgb(237, 0, 245);
}
.nav-tabs .nav-link{
    border: none !important;
    background-color: transparent !important;
    color: rgb(237, 0, 245);
}
.opacity {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}


.bg-modal{
    background-color: rgba(5, 5, 5, 0.95) !important;
    box-shadow: 0px 0px 10px 0px rgb(237, 0, 245);
    }

.card-component {
    box-shadow: 0px 0px 10px 0px rgb(237, 0, 245);
    background-color: rgba(0, 0, 0, 0.8) !important;
 
}

.card-success{
    box-shadow: 0px 0px 10px 0px rgb(237, 0, 245);
    background-color: rgba(0, 0, 0, 0.8) !important;
    height: 20em !important;
    width: 50rem !important;
}


.bg-placeholder {
    border: 1px solid rgba(255, 0, 212, 0.37) !important;
    background-color: rgba(255, 0, 212, 0.05) !important;
}

.bg-placeholder:focus {
    box-shadow: 0px 0px 10px 0px rgb(237, 0, 245) !important;
    background-color: rgba(255, 0, 212, 0.05) !important;
}

.btn-outline-red-neon{
    border: 1px solid rgba(255, 0, 0, 0.877) !important;
    color: rgba(255, 0, 0, 0.781)  !important; 
}
.btn-outline-red-neon:hover{
    background-color: rgba(255, 0, 55, 0.884) !important;
    border: 1px solid rgba(248, 183, 183, 0.342) !important;
    color: rgb(247, 204, 255) !important;
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.781) ;
}

.btn-outline-send {
    border: 1px solid rgba(255, 0, 212, 0.781) !important;
    color: rgba(255, 0, 212, 0.856) !important;
}

.btn-outline-send:hover {
    background-color: rgba(255, 0, 212, 0.781) !important;
    border: 1px solid rgba(255, 249, 254, 0.438) !important;
    color: rgb(247, 204, 255) !important;
    box-shadow: 0px 0px 10px 0px rgb(237, 0, 245);
}
.btn-outline-green {
    border: 1px solid rgba(43, 255, 0, 0.781) !important;
    color: rgba(43, 255, 0, 0.781)  !important;
}

.btn-outline-green:hover {
    background-color: rgba(43, 255, 0, 0.781)  !important;
    border: 1px solid rgba(255, 249, 254, 0.438) !important;
    color: rgb(247, 204, 255) !important;
    box-shadow: 0px 0px 10px 0px rgba(43, 255, 0, 0.781) ;
}

@media (max-width: 768px) {
    .opacity {
        height: 100vh;
       padding-top: 25% !important;
    }
    .card-success{
        height: 32em !important;
        width: 50rem !important;
    }
}